// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.dimension-ui-div {
    width: 200px;
    border-style: solid;
    border-width: medium;
    padding-left: 10px;
    margin-top: 20px;;
    padding-bottom: 10px;
}

h1 {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
}

.dimension-ui-div h2 {
    text-align: center;
}

.vjava-secondary {
    text-align: center;
}

.alternative-selector {
    margin-right: 5px !important;
    vertical-align: text-bottom;
}

.delete_icon {
    float: right;
    margin-top: 8px;
    margin-right: 8px;
}

.new-dimension-name {
    width: 100px;
    text-align: center;
}

.jscolor {
    width: 23px;
    float: left;
    text-indent: -9999px;
}

.edit-locked {
    background-color: red;
}

.edit-enabled {
    background-color: green;
}

.edit:hover {
    font-weight: bold;
}

.edit {
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
}

.view-disabled {
    color: red;
}

.view-enabled {
    color: green;
}

.view:hover {
    font-weight: bold;
}

.view {
    font-size: 20px;
    font-weight: lighter;
    cursor: pointer;
}

.choice-label {
    font-size: 15px;
}

.sp-replacer {
    margin-top: 8px;
}

atom-text-editor::shadow .unselected {
	color: @text-color
}

atom-text-editor::shadow .left-choice-selected {
		color: spin(@text-color, 120);
		font-weight: bold;
}

atom-text-editor::shadow .right-choice-selected {
		color: spin(@text-color, 240);
		font-weight: bold;
}

atom-text-editor::shadow .left-choice {
 		color: spin(desaturate(@text-color, 10%), 120)
}

atom-text-editor::shadow .right-choice {
	color: spin(desaturate(@text-color, 10%), 240)
}

atom-text-editor::shadow .dimension-marker-HI-left {

    background: linear-gradient( 90deg, grey, #284777 8%, #0462f9 16%);
}
// atom-text-editor::shadow .dimension-marker-X {
//     background-color: blue;
// }
